{% templatetag openblock %} load static {% templatetag closeblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>{% templatetag openblock %} block title {% templatetag closeblock %}{{ project_name|title }}{% templatetag openblock %} endblock {% templatetag closeblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% templatetag openblock %} static 'images/favicon/favicon.png' {% templatetag closeblock %}">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% templatetag openblock %} static 'css/style.css' {% templatetag closeblock %}"  media="screen,projection"/>

    {% templatetag openblock %} block additional_css {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
</head>

<body>
<header>
    {% templatetag openblock %} include 'core/base/core_menu_base.html' {% templatetag closeblock %}
</header>
<main>
    <div class="container">
        <div class="row">


                {% templatetag openblock %} block main_content {% templatetag closeblock %}

                {% templatetag openblock %} endblock {% templatetag closeblock %}

        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<script src="{% templatetag openblock %} static 'js/materialize.min.js' {% templatetag closeblock %}"></script>
<script src="{% templatetag openblock %} static 'js/init.js' {% templatetag closeblock %}"></script>

{% templatetag openblock %} block additional_js {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

</body>
</html>