{% templatetag openblock %} extends 'core/base/core_html_base.html' {% templatetag closeblock %}
{% templatetag openblock %} block main_content {% templatetag closeblock %}


  <div class="row">
    <div class="col s12 m6">
      <h2 class="header">Login</h2>
      <form method="post">
        {% templatetag openblock %} csrf_token {% templatetag closeblock %}

        {% templatetag openvariable %} form.as_p {% templatetag closevariable %}

        <button class="waves-effect waves-light btn right" type="submit">Login</button>

        <a href="{% templatetag openblock %} url 'sign_up' {% templatetag closeblock %}">Register</a>

      </form>
    </div>
  </div>

{% templatetag openblock %} endblock{% templatetag closeblock %}