{% templatetag openblock %} extends 'core/base/core_html_base.html' {% templatetag closeblock %}
{% templatetag openblock %} block main_content {% templatetag closeblock %}

    <div class="row">
        <div class="col s12 m6">
            <h2 class="header">Sign Up</h2>
            <form method="post">
                {% templatetag openblock %} csrf_token {% templatetag closeblock %}

                {% templatetag openblock %} for field in form {% templatetag closeblock %}
                    {% templatetag openvariable %} field.errors {% templatetag closevariable %}
                    {% templatetag openvariable %} field.label_tag {% templatetag closevariable %}
                    {% templatetag openvariable %} field {% templatetag closevariable %}
                {% templatetag openblock %} endfor {% templatetag closeblock %}

                <button class="waves-effect waves-light btn right" type="submit">Sign Up</button>

                <a href="{% templatetag openblock %} url 'login' {% templatetag closeblock %}">Login</a>

            </form>
        </div>
    </div>

{% templatetag openblock %} endblock {% templatetag closeblock %}