{% load static %}
{% load menu_tags %}

<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">

            <li class="{% active_link 'index' %}"><a href="{% url 'index' %}">Index</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li class="{% active_link 'sign_up' %}"><a href="{% url 'sign_up' %}">Sign Up</a></li>
                <li class="{% active_link 'login' %}"><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
        <ul class="side-nav">
            <li class="{% active_link 'index' %}"><a href="{% url 'index' %}">Index</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li class="{% active_link 'sign_up' %}"><a href="{% url 'sign_up' %}">Sign Up</a></li>
                <li class="{% active_link 'login' %}"><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
