{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>{% block title %}Django Materialize{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon/favicon.png' %}">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"  media="screen,projection"/>

    {% block additional_css %}{% endblock %}
</head>

<body>
<header>
    {% include 'core/base/core_menu_base.html' %}
</header>
<main>
    <div class="container">
        <div class="row">


                {% block main_content %}

                {% endblock %}

        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>

{% block additional_js %}{% endblock %}

</body>
</html>